body{
    margin: auto;
    background-color: rgb(5, 5, 5);
    width:980px;
}
.container{
    color:#991919;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 275px;
    padding-left: 412px;
    background-image: url("../images/Ball\ 2.jpeg");
    background-image: no-repeat;
    margin:auto;
}

footer{
    font-size:3px;
    color: #ff0000;
    padding:4px;
    text-align: right;
    background-image: url("../images/Ball2footer.jpg");
    height: 20px;
}