body{
    margin: auto;
    text-align: center;
    background-color: aquamarine;
    color: #330404;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}